.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.activities__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px 10%;
  justify-content: center;
}

.activities__card {
  border: 1px solid black;
  padding: 10px;
  margin: 0 15px 30px 15px;
  min-width: 220px;
}
